# Logs
logs/
*app.log

# Environment files
.env
# Node
node_modules/
# Certificates / Keys

certs/
*.pem
# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore __init__.py (optional)
__init__.py

