services:
  backend1:
    build: ./backend
    environment:
      - INSTANCE_NAME=Backend-1


  backend2:
    build: ./backend
    environment:
      - INSTANCE_NAME=Backend-2

  nginx:
    image: nginx:alpine
    container_name: day4-nginx
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - backend1
      - backend2
